/* RESET */

body, h1, h2, h3, h4, h5, h6, ul, ol {
  margin: 0;
  padding: 0;
}

/* APP */

#root {
  background: #1F5E0D;
  color: white;
  font-family: sans-serif;
  height: 100vh;
}

.Footer {
  background: #003600;
  padding: 10px;
}

.Menu {
  list-style: none;
}

.WelcomeScreen {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(3, auto);
  height: 100%;
}
